# TELEGRAM BOT
TELEGRAM_TOKEN=8634302949:AAEqVLEgPHGzDMgYIkXVb9qgFEjCgsZ3F7M

# EXTERNAL APIs
CAPSOLVER_API_KEY=CAP-E628130ED40FD0A0BBC180D0C7822D2C3B13D9BAAE3152A7F7A15F473A4F852F
GRIZZLYSMS_API_KEY=de98b845cf7d037147a3604477735eee

# STRIPE / PAYPAL
STRIPE_PK=pk_test_xxxxx
PAYPAL_CLIENT_ID=Aen29VHHiwicell9lz4gxb-Di_n4xeRY3ZGiwyuQY6m_LQIkNcZ0xydAgPMMnjEzQqMCUnPmgFGcaHfh
PAYPAL_PROXY_URL=http://qaxtdvtr-GT-rotate:cpyp473gyvje@p.webshare.io:80

# PROXIES
AMAZON_PROXY=31.56.127.193:7684

# PROMERICA
PROMERICA_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IkNFU0FSQV9QQyIsInJvbGUiOlsiNTkwNi0xIiwiNTkxMS0xIiwiNTkxNC0xIiwiNTkxMi0xIiwiNTkxMy0xIiwiNTkxNS0xIiwiNTkwMi0xIiwiNTkwNS0xIiwiNTkwMC0xIiwiNTkxMC0xIiwiNTkwMS0xIiwiNTkwNC0xIiwiNTkwOS0xIiwiNTkwOS0xIiwiNTkwMy0xIiwiNTkwNy0xIiwiNTkxMS0xIl0sIm5iZiI6MTU4MTM1ODkyMCwiZXhwIjo0NzM3MDMyNTIwLCJpYXQiOjE1ODEzNTg5MjAsImlzcyI6IkJhbmNvcHJvbWVyaWNhIiwiYXVkIjoiQmFuY29wcm9tZXJpY2EifQ.1oFZivrLSdswbzeFSqlrf_OlRZu5kYtc0RZvlF7vGG8

# DATABASE
DATABASE_PATH=data/database_apion.json
KEYS_FILE=data/keys.json
GATES_CONFIG_FILE=data/gates_config.json

# SYSTEM (Linux)
CHROMIUM_PATH=/usr/bin/chromium

# API URLs (localhost for internal services)
API_URL=http://127.0.0.1:5000
PP_API_URL=http://127.0.0.1:8000/check
MONERIS_API_URL=http://127.0.0.1:8001/check

# PORTS FOR APIS
PAYPAL_PORT=8000
PROMERICA_PORT=5000
MONERIS_PORT=8001

# ENVIRONMENT
ENVIRONMENT=production
